section.discount-section#discount-section
  h2.section-title Акции
  .container.content
    .discount-slider
      .discount-card
        a.img-container(href="#")
          img(src="img/sale-diagnostic.jpg", alt="")
        h3
          a.title(href="#") Диагностика психосоматических заболеваний
        .term Акция действует до 30 мая 2020
        a.details-btn.green-btn(href="#") Подробнее
      .discount-card
        a.img-container(href="#")
          img(src="img/sale-diagnostic.jpg", alt="")
        h3
          a.title(href="#") Диагностика психосоматических заболеваний
        .term Акция действует до 30 мая 2020
        a.details-btn.green-btn(href="#") Подробнее
      .discount-card
        a.img-container(href="#")
          img(src="img/sale-diagnostic.jpg", alt="")
        h3
          a.title(href="#") Диагностика психосоматических заболеваний
        .term Акция действует до 30 мая 2020
        a.details-btn.green-btn(href="#") Подробнее
      .discount-card
        a.img-container(href="#")
          img(src="img/sale-diagnostic.jpg", alt="")
        h3
          a.title(href="#") Диагностика психосоматических заболеваний
        .term Акция действует до 30 мая 2020
        a.details-btn.green-btn(href="#") Подробнее
    a.all-discounts-btn.blue-btn(href="#") Все акции

