footer.footer
  .container
    .main-row.d-flex
      .logo-block
        a(href="#").d-inline-flex.d-lg-flex
          .logo-img-container
            img(src="img/logo.svg", alt="")
          .logo-title Медицинская коллегия
      a.main-row-btn.doctor-reg-btn.green-btn(href="#modal-doctor-reg" data-toggle="modal") Запись для докторов
      a.main-row-btn.major-msg-btn.blue-btn(href="#modal-major-msg" data-toggle="modal") Написать директору
    .contacts-row.d-flex
      .schedule-block.d-flex
        .adress
          .block-title Адрес клиники
          .content пн-сб: 8:00-21 :00
            br
            |вс: 9:00-21:00
        .contact-center
          .block-title Контактный центр
          .content пн-сб: 8:00-21 :00
            br
            |вс: 9:00-21:00
      .break.d-flex.d-lg-none
      .contact-block
        .tel-block.d-flex
          a.tel(href="tel:8(800)6548970") 8 (800) 654 89 70
          a.call-me-btn(href="#modal-call-me" data-toggle="modal") Позвоните мне
        .email-block
          a.email(href="mailto:clinic@clinic.com") clinic@clinic.com
      .ico-block
        .soc-list
          a(href="#").soc-item
            img(src="img/logo-vk.svg", alt="")
          a(href="#").soc-item
            img(src="img/logo-inst.svg", alt="")
          a(href="#").soc-item
            img(src="img/logo-fb.svg", alt="")
          a(href="#").soc-item
            img(src="img/logo-youtube.svg", alt="")
          a(href="#").soc-item
            img(src="img/logo-twitter.svg", alt="")
        .pay-system-list
          .pay-system-item.visa
            img(src="img/logo-visa.svg", alt="")
          .pay-system-item.mc
            img(src="img/logo-mc.svg", alt="")
          .pay-system-item.mir
            img(src="img/logo-mir.svg", alt="")
    .attention-row
      p Обращаем ваше внимание, что предоставленная информация носит ознакомительный характер и не может быть использована для самодиагностики и самолечения. Перед применением проконсультируйтесь со специалистом по оказываемым услугам и противопоказаниям.
        br
        br
        |Цены, предоставленные на сайте не являются публичной офертой, стоимость уточняйте по телефону +7(812) 677-0-777
    .links-row
      a.license-link(href="#") Лицензия
      a.privacy-policy-link(href="#") Политика конфиденциальности



//- script(src="js/vendor/bootstrap.min.js")
//- script(src="js/vendor/moment.min.js")
//- script(src="js/vendor/daterangepicker.js")