section.gallery-section#gallery-section
  h2.section-title Фотогалерея отделения

  .photo-slider
    .item
      img(src="img/gallery_1.jpg", alt="")
      .desc
        .name Аппарат МРТ
    .item
      img(src="img/gallery_2.jpg", alt="")
      .desc
        .name Аппарат МРТ
    .item
      img(src="img/gallery_1.jpg", alt="")
      .desc
        .name Аппарат МРТ
    .item
      img(src="img/gallery_2.jpg", alt="")
      .desc
        .name Аппарат МРТ
