section.review-section#review-section
  h2.section-title Отзывы
  .container.content
    .review-list.review-slider.justify-content-center.justify-content-md-between
      .review-card
        a.about-therapist(href="#")
          .avatar
            img(src="img/avatar.png", alt="")
          .info Лечащий врач:
            .spec Стоматолог
            .name Александр Васильев
        .review-content
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quam obcaecati mollitia. Cumque ad a itaque consequatur tempora repellendus quae quas porro recusandae mollitia facere quisquam sint obcaecati, dolores dolore!
          a.show-review-btn.green-btn(href="#") Весь отзыв
        .reviewer-info.d-flex
          .name Наталия Геннадьевна
          .date 5 февраля 2020
      .review-card
        a.about-therapist(href="#")
          .avatar
            img(src="img/avatar.png", alt="")
          .info Лечащий врач:
            .spec Стоматолог
            .name Александр Васильев
        .review-content
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quam obcaecati mollitia. Cumque ad a itaque consequatur tempora repellendus quae quas porro recusandae mollitia facere quisquam sint obcaecati, dolores dolore!
          a.show-review-btn.green-btn(href="#") Весь отзыв
        .reviewer-info.d-flex
          .name Наталия Геннадьевна
          .date 5 февраля 2020
      .review-card
        a.about-therapist(href="#")
          .avatar
            img(src="img/avatar.png", alt="")
          .info Лечащий врач:
            .spec Стоматолог
            .name Александр Васильев
        .review-content
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quam obcaecati mollitia. Cumque ad a itaque consequatur tempora repellendus quae quas porro recusandae mollitia facere quisquam sint obcaecati, dolores dolore!
          a.show-review-btn.green-btn(href="#") Весь отзыв
        .reviewer-info.d-flex
          .name Наталия Геннадьевна
          .date 5 февраля 2020
    .btns-block
      a.all-reviews-btn.green-btn(href="#") Все отзывы
      a.make-review-btn.blue-btn(href="#modal-make-review" data-toggle="modal") Оставить отзыв

